# Read TPM Count.

In [1]:
import numpy as np
import pandas as pd
import random
from tqdm.notebook import tqdm

FULL_PATH = 'c:\\Users\\danili\\Documents\\GitHub\\Yada\\data\\'
tpm = pd.read_csv(FULL_PATH + '/sim/splater.csv', index_col=0)
print(f'tpm shape: {tpm.shape}')
tpm.T.head()

tpm shape: (10000, 3000)

,Gene1,Gene2,Gene3,Gene4,Gene5,Gene6,Gene7,Gene8,Gene9,Gene10,...,Gene9991,Gene9992,Gene9993,Gene9994,Gene9995,Gene9996,Gene9997,Gene9998,Gene9999,Gene10000
Cell1,4.294829,6.346996,3.333467,681.801854,6.494513,36.048869,14.030653,14.728421,7.717958,27.376911,...,35.353747,45.083005,0.0,8.792114,20.670077,43.960572,83.049972,4.987220,0.000000,112.001954
Cell2,0.000000,5.388225,6.791800,980.571415,0.000000,20.031291,0.000000,40.011390,6.290007,5.312316,...,16.265242,44.090276,0.0,8.956783,8.422884,34.831934,329.515874,0.000000,3.004156,99.217091
Cell3,0.000000,14.605115,0.000000,442.983193,0.000000,54.296046,0.000000,18.075556,4.262363,0.000000,...,31.491385,19.918234,0.0,0.000000,0.000000,40.463186,48.279624,0.000000,0.000000,134.467015
Cell4,0.000000,4.039635,0.000000,1021.040924,0.000000,0.000000,7.144005,24.997629,15.719050,6.637875,...,37.744267,13.772982,0.0,3.730577,21.049219,49.741022,189.177161,0.000000,0.000000,123.974297
Cell5,0.000000,0.000000,0.000000,966.905892,69.958902,0.000000,4.318234,12.591632,13.064520,12.036903,...,40.364533,27.750524,0.0,15.784778,31.808299,3.758280,107.622783,7.674619,0.000000,89.924360

In [2]:
cells = pd.read_csv(FULL_PATH + 'sim/celldata.csv', index_col=0)
cells.head()

        Cell   Batch   Group     ExpLibSize  sizeFactor
Cell1  Cell1  Batch1  Group2  327053.871026    1.677077
Cell2  Cell2  Batch1  Group1  159530.778634    0.823122
Cell3  Cell3  Batch1  Group2   59713.725164    0.303672
Cell4  Cell4  Batch1  Group2  128761.619237    0.658748
Cell5  Cell5  Batch1  Group3  211010.191261    1.089820

In [3]:
assays = pd.read_csv(FULL_PATH + 'sim/assays.csv', index_col=0)
assays.head()

,group,group_name,Cell1,Cell2,Cell3,Cell4,Cell5,Cell6,Cell7,Cell8,...,Cell2991,Cell2992,Cell2993,Cell2994,Cell2995,Cell2996,Cell2997,Cell2998,Cell2999,Cell3000
Gene1,1,BatchCellMeans,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,...,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955,0.046955
Gene2,1,BatchCellMeans,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,...,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737,0.724737
Gene3,1,BatchCellMeans,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,...,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549,0.429549
Gene4,1,BatchCellMeans,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,...,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696,10.366696
Gene5,1,BatchCellMeans,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,...,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893,0.228893

In [22]:
assays.loc[assays.group == 5]

,group,group_name,Cell1,Cell2,Cell3,Cell4,Cell5,Cell6,Cell7,Cell8,...,Cell2991,Cell2992,Cell2993,Cell2994,Cell2995,Cell2996,Cell2997,Cell2998,Cell2999,Cell3000
Gene1.4,5,TrueCounts,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Gene2.4,5,TrueCounts,12.0,5.0,5.0,3.0,0.0,0.0,1.0,0.0,...,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0
Gene3.4,5,TrueCounts,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,5.0,3.0,4.0,0.0,0.0,2.0,1.0,2.0,0.0
Gene4.4,5,TrueCounts,51.0,36.0,6.0,30.0,47.0,9.0,19.0,15.0,...,33.0,24.0,71.0,41.0,9.0,13.0,27.0,55.0,36.0,64.0
Gene5.4,5,TrueCounts,1.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gene9996.4,5,TrueCounts,18.0,7.0,3.0,8.0,1.0,8.0,2.0,3.0,...,3.0,12.0,20.0,5.0,5.0,6.0,9.0,10.0,6.0,12.0
Gene9997.4,5,TrueCounts,19.0,37.0,2.0,17.0,16.0,10.0,7.0,23.0,...,43.0,8.0,55.0,28.0,1.0,7.0,31.0,36.0,33.0,39.0
Gene9998.4,5,TrueCounts,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Gene9999.4,5,TrueCounts,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Gene10000.4,5,TrueCounts,23.0,10.0,5.0,10.0,12.0,7.0,6.0,3.0,...,15.0,3.0,11.0,11.0,2.0,1.0,12.0,10.0,3.0,5.0

# Select Three Cells For Simulation.

In [4]:
#Create an RNASeq mix from a pure matrix. Randomly select a cell from each group to create the pure matrix.
'''
def get_random_indices(df):
    groups = df['Group'].unique()
    indices = []
    for group in groups:
        group_indices = df[df['Group'] == group].index.tolist()
        indices.append(random.choice(group_indices))

    return indices
'''
def get_random_indices(df):
    groups = ['Group1', 'Group2', 'Group3']  # Ensure the order of groups
    indices = []

    for group in sorted(groups):  # Sort groups in ascending order
        group_indices = df[df['Group'] == group].index.tolist()
        indices.append(random.choice(group_indices))  # Add a random index for each group

    return indices

#Assuming 'cells' is pandas DataFrame with a 'Group' column.
random_indices = get_random_indices(cells)

for idx in random_indices:
    print(f"Index: {idx}, Group: {cells.loc[idx, 'Group']}")

Index: Cell2395, Group: Group1
Index: Cell1825, Group: Group2
Index: Cell1666, Group: Group3

In [5]:
pure = tpm.T.loc[random_indices].copy()
pure = pure.T
pure.head()

         Cell2395    Cell1825     Cell1666
Gene1    0.000000    0.000000     0.000000
Gene2    1.507919    0.759458     0.000000
Gene3    9.503578    9.572890    26.712361
Gene4  876.610868  710.242500  1571.214763
Gene5    0.000000    4.662658     0.000000

# Create Mixtures.

In [9]:
num_mixes = 50
mix = pure.copy()
prop_data = np.empty((0,len(pure.columns)))
# Loop on mixes.
for i in tqdm(range(0,num_mixes)):
    prop = np.random.dirichlet(np.ones(len(pure.columns)), size=1)
    j = 0
    mix[f'mix{i}'] = 0
    # Loop on cell types.
    for col in pure.columns:
        noise = np.random.normal(1, 0.25, len(mix[col]))
        mix[f'mix{i}'] += mix[col] * prop[0][j] * noise
        j+=1
    prop_data = np.append(prop_data, prop, axis=0)

columns_to_drop = list(pure.columns)
mix.drop(columns_to_drop, axis=1, inplace=True)
prop_df = pd.DataFrame(data=prop_data.T, columns=[f'mix{i}' for i in range(0,num_mixes)], index=pure.columns)
mix = mix[[f'mix{i}' for i in range(0,num_mixes)]]
mix.head()

  0%|          | 0/50 [00:00<?, ?it/s]

,mix0,mix1,mix2,mix3,mix4,mix5,mix6,mix7,mix8,mix9,...,mix40,mix41,mix42,mix43,mix44,mix45,mix46,mix47,mix48,mix49
Gene1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Gene2,0.191046,1.002947,0.333665,0.721246,0.883365,0.447695,1.078355,0.769076,0.579888,0.332405,...,1.095607,0.763847,0.588192,1.457513,0.341512,0.400338,0.730975,0.919962,1.006316,0.479806
Gene3,22.919275,14.058947,27.772716,22.397023,11.105665,14.648296,15.404684,11.059043,15.313604,15.525064,...,11.941179,13.417711,14.125031,14.860665,16.033534,19.619721,17.533808,10.430989,16.229308,20.971487
Gene4,1175.673228,872.049267,1465.659121,1054.252320,940.449396,810.645336,998.364176,1044.136463,1032.136187,1246.627386,...,916.844275,1067.468692,802.703373,1036.297155,648.930197,1202.925093,1176.293577,749.458994,747.955293,1057.816928
Gene5,0.563491,1.840724,0.679247,1.187019,0.740890,3.339349,2.703024,2.746501,1.533942,1.085671,...,1.576464,2.869941,0.458548,0.674625,2.277501,1.238268,0.772723,4.411753,0.085043,1.230968

In [ ]:
#mix.to_csv(FULL_PATH + 'sim/mix.csv')
#pure.to_csv(FULL_PATH + 'sim/pure.csv')
#prop_df.to_csv(FULL_PATH + 'sim/prop.csv')

# Create Gene Differential Lists.

In [8]:
#Find the differential expression genes for each cell type.
de = pd.read_csv(FULL_PATH + 'sim/dedata.csv', index_col=0)
de.head()

,Gene,BaseGeneMean,OutlierFactor,GeneMean,DEFacGroup1,DEFacGroup2,DEFacGroup3,Length
Gene1,Gene1,0.046955,1.0,0.046955,1.0,0.785617,1.090221,5964
Gene2,Gene2,0.724737,1.0,0.724737,1.0,1.000000,1.000000,12107
Gene3,Gene3,0.429549,1.0,0.429549,1.0,1.000000,1.000000,1921
Gene4,Gene4,10.366696,1.0,10.366696,1.0,1.000000,1.000000,479
Gene5,Gene5,0.228893,1.0,0.228893,1.0,1.000000,1.000000,986

In [9]:
de.loc[de.DEFacGroup1 > 1.8].DEFacGroup1.count()

84

In [10]:
de.loc[de.DEFacGroup2 > 1.8].DEFacGroup2.count()

86

In [11]:
de.loc[de.DEFacGroup3 > 1.8].DEFacGroup3.count()

79

In [12]:
de2 = de.loc[(de.DEFacGroup1 > 1.8) | (de.DEFacGroup2 > 1.8) | (de.DEFacGroup3 > 1.8)].copy()
de2.head()

,Gene,BaseGeneMean,OutlierFactor,GeneMean,DEFacGroup1,DEFacGroup2,DEFacGroup3,Length
Gene81,Gene81,0.070989,1.0,0.070989,2.849205,1.22852,1.000000,6594
Gene106,Gene106,0.938180,1.0,0.938180,1.964307,1.00000,1.000000,2821
Gene135,Gene135,5.995593,1.0,5.995593,1.831562,1.00000,1.000000,2788
Gene171,Gene171,0.784351,1.0,0.784351,1.949057,1.00000,1.000000,5288
Gene243,Gene243,0.397692,1.0,0.397692,1.000000,1.00000,1.837696,2374

In [13]:
de2.drop(['Gene','BaseGeneMean','OutlierFactor','GeneMean', 'Length'], axis=1, inplace=True)

In [14]:
de2

          DEFacGroup1  DEFacGroup2  DEFacGroup3
Gene81       2.849205     1.228520     1.000000
Gene106      1.964307     1.000000     1.000000
Gene135      1.831562     1.000000     1.000000
Gene171      1.949057     1.000000     1.000000
Gene243      1.000000     1.000000     1.837696
...               ...          ...          ...
Gene9895     2.091861     1.000000     1.000000
Gene9928     1.000000     1.928941     1.000000
Gene9979     1.000000     1.000000     2.047104
Gene9984     1.000000     2.249739     1.000000
Gene9996     1.000000     1.809855     1.000000

[248 rows x 3 columns]

In [15]:
# Finding the column with the maximum value for each row
max_columns = de2.idxmax(axis=1)

In [16]:
# Convert columns to numeric values
df = de2
df = df.apply(pd.to_numeric, errors='coerce')

# Initialize empty lists for each group
group1, group2, group3 = [], [], []

# Iterate through rows to assign genes to respective groups
for gene, row in df.iterrows():
    max_val = row.max()
    group = row[row == max_val].index[0]
    if group == 'DEFacGroup1':
        group1.append(gene)
    elif group == 'DEFacGroup2':
        group2.append(gene)
    elif group == 'DEFacGroup3':
        group3.append(gene)

# Fill empty lists with None to equalize lengths
max_length = max(len(group1), len(group2), len(group3))
group1.extend([None] * (max_length - len(group1)))
group2.extend([None] * (max_length - len(group2)))
group3.extend([None] * (max_length - len(group3)))

# Create a new DataFrame with genes split into respective groups
marker_genes = pd.DataFrame({
    'DEFacGroup1': group1,
    'DEFacGroup2': group2,
    'DEFacGroup3': group3
})

marker_genes

   DEFacGroup1 DEFacGroup2 DEFacGroup3
0       Gene81     Gene329     Gene243
1      Gene106     Gene484     Gene296
2      Gene135     Gene499     Gene324
3      Gene171     Gene501     Gene481
4      Gene502     Gene777     Gene773
..         ...         ...         ...
81    Gene9780    Gene9405        None
82    Gene9895    Gene9550        None
83        None    Gene9928        None
84        None    Gene9984        None
85        None    Gene9996        None

[86 rows x 3 columns]

In [17]:
marker_genes.to_csv(FULL_PATH + "sim/markers.csv")